.hero {
  overflow: hidden;
}

.hero-slider {
  box-shadow: inset 0 0 20em 15em #111;
}

.hero-slider img {
  max-height: 560px;
  border-radius: 10px;
  object-fit: cover;
}

.hero-slider::before, .hero-slider::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 100%;
  top: 0;
}

.hero-slider::before {
  left: 0;
  background: linear-gradient(to right, #111, transparent);
}

.hero-slider::after {
  right: 0;
  background: linear-gradient(to left, #111, transparent);

}

.legend {
  font-size: 1.1rem !important;
}
