.hero {
  overflow: hidden;
}

.hero-slider {
  box-shadow: inset 0 0 20em 15em #111;
}

.hero-slider img {
  max-height: 560px;
  border-radius: 10px;
  object-fit: cover;
}

.hero-slider::before, .hero-slider::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 100%;
  top: 0;
}

.hero-slider::before {
  left: 0;
  background: linear-gradient(to right, #111, transparent);
}

.hero-slider::after {
  right: 0;
  background: linear-gradient(to left, #111, transparent);

}

.legend {
  font-size: 1rem !important;
  opacity: 1 !important;
  text-align: left !important;
  border-radius: 5px !important;
  background-color: rgba(0, 0, 0, .2) !important;

}

.legend-title {
  font-size: 3rem;
  margin-bottom: 1em;
  text-shadow: 3px 3px #000;
}

.legend-overview {
  line-height: 22px;
  letter-spacing: .3px;
}

.selected p{
  max-width: 600px;
  opacity: 1 !important;
}