.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  padding: 2em;
  border-radius: 8px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 2em;
  text-align: center;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.form-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-button:hover {
  background-color: #555;
}

.submit-button {
  margin-right: 0.5em;
}

.cancel-button {
  background-color: transparent;
  color: #333;
  margin-left: 0.5em;
}

.cancel-button:hover {
  text-decoration: underline;
}
