.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 40px;
  padding: 0 10px;
  width: 300px;
  padding-right: 3px;
  margin: 10px;
}

.search-input {
  border: none;
  flex-grow: 1;
  font-size: 16px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
  background-color: #e6e6e6;
}

.search-icon {
  font-size: 20px;
}