.nav-bar {
  display: flex;
  gap: 2em;
  list-style: none;
}

.nav-bar a {
  text-decoration: none;
}

.wish-list-btn,
.genre-list-wrapper {
  position: relative;
}

.genre-list {
  background: #333;
  border-radius: 8px;
  list-style: none;
  padding: 1em;
  position: absolute;
  max-height: 330px;
  width: 350px;
  top: 1em;
  right: 0;
  z-index: 100;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.8em;
}

.genre:hover + .genre-list {
  display: flex;
}

.genre-list:hover {
  display: flex;
}

.genre-list li a {
  padding: 0.5em 1em;
  border-radius: 5px;
}

.genre-list li a:hover {
  background-color: #222;
}

.wish-items {
  color: #fff;
  padding: .3em .5em;
  border-radius: 5px;
  background: teal;
}

@media (max-width: 668px) {
  .nav-bar {
    flex-direction: column;
    position: absolute;
    right: 0;
    background: #fff;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
