.nav-bar {
  display: flex;
  gap: 2em;
  list-style: none;
}

.nav-bar li a {
  text-decoration: none;
}

@media (max-width: 668px) {
  .nav-bar {
    flex-direction: column;
    position: absolute;
    right: 0;
    background: #fff;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
