:root {
  --primary: #0bc9c1;
  --lightTeal: #abe7e4;
  --darkTeal: #06ada5;
  --translucentTeal: #0bc9bf9a;
  --textColor: #ffffeb;
  --lightHr: #c1c1c1;
  --largeText: 1.2rem;
  --yellow: #ffd700;
  --blue: #388edf;
  --green: #84e96a;
  --purple: #af4dda;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
  scroll-behavior: smooth;
  color: #eaeaea;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  font-family: sans-serif;
  max-width: 1503px;
  margin: 0 auto;
  color: var(--textColor);
  padding: 0 1em;
}

a {
  color: var(--textColor);
}

a:hover {
  color: var(--primary);
}

.section-wrapper {
  border-radius: 10px;
  padding-inline: 1em;
  margin-top: 2em;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

.section-title {
  margin-block: 1em;
  padding-bottom: 0.4em;
  font-weight: normal;
  padding-top: 0.5em;
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}
