:root {
  --primary: #0BC9C1;
  --textColor: #FFFFEB;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111111;
  scroll-behavior: smooth;
}

.App {
  font-family: sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--textColor);
  padding: 1em;
}

a {
  color: var(--textColor);
}

a:hover {
  color: var(--primary);
}

.section-wrapper {
  background: linear-gradient(rgba(100, 100, 100, .2), transparent);
  border-radius: 10px;
  padding-inline: 1em;
  margin-top: 6em;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5em;
}

.section-title {
  margin-block: 1em;
  padding-bottom: .4em;
  padding-top: .5em;
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}